---
layout: splash
permalink: /
header:
  overlay_color: "#D6CEBD"
  overlay_image: /assets/images/flag_folding.jpg
  cta_label: "<i class='fas fa-pen'></i> Schedule an Appointment"
  cta_url: "https://www.signupgenius.com/go/4090544abae2daafa7-etowah"
  caption:
excerpt: 'Etowah District Eagle Boards and Eagle Project Proposal Reviews are scheduled on the Fourth Tuesday of each month by appointment only at <a href="https://www.google.com/maps?hl=en&um=1&ie=UTF-8&cid=0,0,14300186515878948521&fb=1&split=1&gl=us&dq=the+good+sheperd+church+in+cumming,+ga&daddr=3740+Holtzclaw+Rd,+Cumming,+GA+30041-3502&geocode=3410681070378521919,34.252243,-84.070114&ei=T3WDSpatOJCEmQer6vHZBg&sa=X&oi=local_result&ct=directions-to&resnum=1">The Good Shepherd Church at 3740 Holtzclaw Rd Cumming, GA 30041-3502</a>'
feature_row:
  - image_path: /assets/images/scouts_line.jpg
    alt: "Project Proposals"
    title: "Project Proposals"
    excerpt: "Materials needed to prepare a project proposal."
    url: "/docs/proposal/"
    btn_label: "Learn More"
  - image_path: /assets/images/scouts_line.jpg
    alt: "Project Review"
    title: "Project Review"
    excerpt: "Your project is complete! What now?"
    url: "/docs/bor/"
    btn_label: "Learn More"
  - image_path: /assets/images/scouts_line.jpg
    alt: "Adult volunteers"
    title: "Adult volunteers"
    excerpt: "Directions for adult leadership."
    url: "/docs/adults/"
    btn_label: "Learn More"
intro:
  - excerpt: '{::nomarkdown}<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
              We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://etowah-bsa.us17.list-manage.com/subscribe/post?u=daab3f2a79bd2323ab9e67f5a&amp;id=5459cf31ab" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Subscribe to the Etowah District mailing list</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_daab3f2a79bd2323ab9e67f5a_5459cf31ab" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->{:/nomarkdown}'
---

{% include feature_row %}

{% include feature_row id="intro" type="center" %}
